extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var pageInfo = site.data.content.page['pricing']

block content
  - currentPage = '/pricing'
  include ../_modules/header
  include ../_modules/top-menu
  each faq, key in pageInfo.faq
    .faq-article
      h4: label(for="faq-#{key}") #{faq.question}
      input(type="checkbox", id="faq-#{key}")
      .faq-answer
        each line in faq.answer
          p !{line}
  include ../_modules/footer
